# Import necessary packages

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import mineralML as mm
import Thermobar as pt
import os

In [6]:
#mm.__version__

# Now setup folders and paths

In [7]:
if os.name=='posix':
    slash='/'
else:
    slash='\\'

MasterFolder=os.path.dirname(os.path.dirname(os.getcwd()))

# #Folder to save figures

# figpath=MasterFolder +slash+'Figs'
# if not os.path.exists(figpath):
#     os.mkdir(figpath)

# #Folder to save full datasets

compilation_folder=MasterFolder +slash+"Data_processing_notebooks"+slash+'Data_processing_SWRZ'+slash+'Notebook_Compiled_data'
if not os.path.exists(compilation_folder):
    os.mkdir(compilation_folder)

# Now lets merge the SEM dataframe with the Raman data

## First import the Raman data

In [8]:
Raman_df=pd.read_excel(compilation_folder+slash+'SWRZ_Raman_averaged.xlsx')
Raman_df = Raman_df.loc[:, ~Raman_df.columns.str.contains('Unnamed')]

Raman_df

,filename,Density g/cm3,σ Density g/cm3,σ Density g/cm3 (from Ne+peakfit),σ Density g/cm3 (from densimeter),Corrected_Splitting,Corrected_Splitting_σ,Corrected_Splitting_σ_Ne,Corrected_Splitting_σ_peak_fit,power (mW),...,Peak_Height_Carb_Raman_STD,Carb_Diad_Ratio_Raman_STD,SO2_Diad_Ratio_Raman_STD,SO2_mol_ratio_Raman_STD,time_Raman_STD,preferred_values_Raman_STD,lower_values_Raman_STD,upper_values_Raman_STD,Region_Raman_STD,averaged?
0,KL0919-010-A,0.119384,0.004053,0.001334,0.003827,103.051548,0.003366,0.001044,0.003205,11.971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
1,KL0919-010-B,0.105191,0.008116,0.007167,0.003809,103.015728,0.018087,0.001047,0.018082,11.965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,KL0919-010-C-meltfilm,0.090413,0.004864,0.003034,0.003801,102.978432,0.007658,0.001050,0.007596,11.966,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,KL0919-011-A,0.141729,0.004629,0.002532,0.003876,103.107941,0.006389,0.001061,0.006309,11.956,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4,KL0919-011-C,0.156472,0.004005,0.000818,0.003921,103.145147,0.002064,0.001068,0.001769,11.954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,K24_7_FIB,0.062384,0.004053,0.001362,0.003817,102.907695,0.003438,0.000939,0.003314,11.849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
153,K24_8_FIB,0.064676,0.004040,0.001331,0.003815,102.913480,0.003358,0.000943,0.003230,11.858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
154,K24_8_FIC,0.069100,0.004363,0.002126,0.003810,102.924645,0.005365,0.000944,0.005292,11.859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
155,K24_8_FID,0.072966,0.005114,0.003415,0.003807,102.934401,0.008620,0.000945,0.008586,11.867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
156,K24_9_FIA,0.109644,0.009065,0.008223,0.003813,103.026966,0.020754,0.000951,0.020775,11.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No

## Import the helper file with SEM names for Raman

In [15]:
# Helper_EDS=pd.read_excel(os.getcwd()+slash+'Helper files'+slash+'Helper_SEM_merge.xlsx')
# Helper_EDS = Helper_EDS.loc[:, ~Helper_EDS.columns.str.contains('Unnamed')]

# Helper_EDS.head()

,Type,Mount,filename,Name_on_SEM,Notes regarding SEM matching,filename_4merge
0,Std,NaN,FG04-A1-1-start,NaN,NaN,FG04-A1-1-start_index0
1,Std,NaN,FG04-A1-16,NaN,NaN,FG04-A1-16_index1
2,Std,NaN,FG04-A1-16,NaN,NaN,FG04-A1-16_index2
3,Std,NaN,FG04-A1-16-start,NaN,NaN,FG04-A1-16-start_index3
4,Std,NaN,FG04-A1-2-start,NaN,NaN,FG04-A1-2-start_index4

## Merge the helper with the Raman frame

In [9]:
# Raman_df_wnames = Raman_df.merge(Helper_EDS, on='filename_4merge', how='left')
# Raman_df_wnames

## Import the olivine data

In [10]:
OlivineEDS=pd.read_excel(compilation_folder+slash+'EDS_olivine.xlsx')
OlivineEDS =OlivineEDS.loc[:, ~OlivineEDS.columns.str.contains('Unnamed')]

OlivineEDS.head()

,Sample Name,Total_wt%,Total_Oxide%,Al2O3,CaO,Cr2O3,FeOt,MgO,MnO,NiO,...,Line_Si,Line_Ca,Line_Mn,Line_Fe,Line_Ni,Line_Al,Line_Ti,Line_Cr,SampleID,Fo
0,SanCarlos1_1,99.5029,99.5029,NaN,0.0363,NaN,9.8525,48.5695,0.1194,0.3790,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,SanCarlos1_1,0.897827
1,SanCarlos1_2,99.8710,99.8710,NaN,0.1326,NaN,9.6518,48.5980,0.2015,0.3608,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,SanCarlos1_2,0.899752
2,SanCarlos1_3,99.0721,99.0721,NaN,-0.0207,NaN,9.5304,48.3042,0.1860,0.3784,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,SanCarlos1_3,0.900345
3,SanCarlos1_4,100.5117,100.5117,NaN,0.0380,NaN,16.5200,43.7118,0.3233,0.0118,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,SanCarlos1_4,0.825070
4,Springwater1_1,99.1100,99.1100,NaN,0.0042,NaN,17.0157,43.0046,0.2564,0.0092,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,Springwater1_1,0.818350

## Merge the olivines to the FI

In [11]:
sorted_df_renamed = OlivineEDS.rename(columns={'Sample Name': 'Name_on_SEM'})

# Merge the dataframes on the 'Name_on_SEM' column
combined_df = Raman_df.merge(sorted_df_renamed, on='Name_on_SEM', how='left')
combined_df

,filename,Density g/cm3,σ Density g/cm3,σ Density g/cm3 (from Ne+peakfit),σ Density g/cm3 (from densimeter),Corrected_Splitting,Corrected_Splitting_σ,Corrected_Splitting_σ_Ne,Corrected_Splitting_σ_peak_fit,power (mW),...,Line_Si,Line_Ca,Line_Mn,Line_Fe,Line_Ni,Line_Al,Line_Ti,Line_Cr,SampleID,Fo
0,KL0919-010-A,0.119384,0.004053,0.001334,0.003827,103.051548,0.003366,0.001044,0.003205,11.971,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,KL0919_010_FIA,0.887075
1,KL0919-010-B,0.105191,0.008116,0.007167,0.003809,103.015728,0.018087,0.001047,0.018082,11.965,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,KL0919_010_FIA,0.887075
2,KL0919-010-C-meltfilm,0.090413,0.004864,0.003034,0.003801,102.978432,0.007658,0.001050,0.007596,11.966,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,KL0919_010_FIA,0.887075
3,KL0919-011-A,0.141729,0.004629,0.002532,0.003876,103.107941,0.006389,0.001061,0.006309,11.956,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,"KL0919_011_FIA,B,C",0.888827
4,KL0919-011-C,0.156472,0.004005,0.000818,0.003921,103.145147,0.002064,0.001068,0.001769,11.954,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,"KL0919_011_FIA,B,C",0.888827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,K24_7_FIB,0.062384,0.004053,0.001362,0.003817,102.907695,0.003438,0.000939,0.003314,11.849,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,K24_7_FIB,0.845211
153,K24_8_FIB,0.064676,0.004040,0.001331,0.003815,102.913480,0.003358,0.000943,0.003230,11.858,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,"K24_8_FIB,C,D",0.856323
154,K24_8_FIC,0.069100,0.004363,0.002126,0.003810,102.924645,0.005365,0.000944,0.005292,11.859,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,"K24_8_FIB,C,D",0.856323
155,K24_8_FID,0.072966,0.005114,0.003415,0.003807,102.934401,0.008620,0.000945,0.008586,11.867,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,"K24_8_FIB,C,D",0.856323
156,K24_9_FIA,0.109644,0.009065,0.008223,0.003813,103.026966,0.020754,0.000951,0.020775,11.875,...,K series,K series,K series,K series,Kα,NaN,NaN,NaN,K24_9_FIA,0.844029

## Export merged data

In [12]:
combined_df.to_excel(compilation_folder+slash+'KL_SWRZ_Raman_EDS_Merged.xlsx')

## Import the Glass data (Ignore we will do this later)

In [10]:
K24GlassEDS=pd.read_excel(compilation_folder+slash+'GlassData2024.xlsx')
K24GlassEDS=K24GlassEDS.loc[:, ~K24GlassEDS.columns.str.contains('Unnamed')]
K24GlassEDS['Sample_short'] = ['JDFD2' if 'JDF' in sample_name else 'K24' for sample_name in K24GlassEDS['Sample Name']]
K24GlassEDS.insert(1, 'Sample_short', K24GlassEDS.pop('Sample_short'))

K24GlassEDS.head()

,Sample Name,Sample_short,Total_wt%,Total_Oxide%,Al2O3,CaO,FeOt,K2O,MgO,MnO,...,Line_Si,Line_P,Line_S,Line_K,Line_Ca,Line_Ti,Line_Mn,Line_Fe,SampleID,Mg#
0,JDFD2_1,JDFD2,98.5789,98.5790,13.9269,10.7876,11.9916,0.2097,6.5309,0.2289,...,K series,K series,K series,K series,K series,K series,K series,K series,JDFD2_1,0.542106
1,JDFD2_2,JDFD2,98.2026,98.2026,13.8746,10.7479,11.8569,0.1747,6.6142,0.2258,...,K series,K series,K series,K series,K series,K series,K series,K series,JDFD2_2,0.548050
2,JDFD2_3,JDFD2,98.5268,98.5268,13.8297,10.8564,11.8792,0.2095,6.5330,0.2454,...,K series,K series,K series,K series,K series,K series,K series,K series,JDFD2_3,0.544523
3,Mount1_glass1_1,K24,99.0818,99.0818,13.9494,10.9124,10.8721,0.5062,6.3378,0.1965,...,K series,K series,K series,K series,K series,K series,K series,K series,Mount1_glass1_1,0.558930
4,Mount1_glass1_2,K24,98.9432,98.9432,13.9718,10.8649,10.8212,0.5404,6.3854,0.2244,...,K series,K series,K series,K series,K series,K series,K series,K series,Mount1_glass1_2,0.561929