In [11]:
import pandas as pd

# Load your data from Excel (as per your original code)
df = pd.read_excel(r"C:\Users\charl\Documents\Python dev\PrePostCalderaKil_2025\Version_on_pcloud\Data\Data_KS24-628\EDS\2020+Dec2024_Olivine_DeVitre_040225_060225export.xlsx", sheet_name="Area6_list")

empty_rows = pd.DataFrame([[None] * len(df.columns)] * 15, columns=df.columns)
expanded_rows = []

for index, row in df.iterrows():
    expanded_rows.append(row)
    expanded_rows.extend(empty_rows.values)

expanded_df = pd.DataFrame(expanded_rows, columns=df.columns)

expanded_df = expanded_df.reset_index(drop=True)
expanded_df.to_clipboard(excel=True,index=False)

expanded_df

     point                       name
0      1.0  Forsterite_tuesevening_11
1      NaN                        NaN
2      NaN                        NaN
3      NaN                        NaN
4      NaN                        NaN
..     ...                        ...
603    NaN                        NaN
604    NaN                        NaN
605    NaN                        NaN
606    NaN                        NaN
607    NaN                        NaN

[608 rows x 2 columns]